@mixin centerAbsolute {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerHorizontal {
  display: flex;
  justify-content: center;
}

@mixin centerVertical {
  display: flex;
  align-items: center;
}

@mixin text-style($fSize, $fWeight, $fAlign) {
  text-align: $fAlign;
  font-size: $fSize;
  font-weight: $fWeight;
}
