@use '../utils' as u;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  
  //layout troubleshooting check
  // outline: 1px solid #f00 !important;
}

:root {
  font-size: calc(.5em + 1vw); // responsive text
  font-family: 'Helvetica';
}

body {
  min-height: 100vh;
  background-color: u.$primary;
  color: u.$textcolor;
}

.wrapper {
  position: relative;
}

.main--content {
  flex-direction: column;
}
